body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(254, 242, 202, 0.975);
    color: rgb(48, 48, 48);
}

h2, p, .readme-wrapper {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

a:hover {
    text-decoration: bold;
    color: #3e851b;
    cursor: pointer;

}

.boxes {
    position: relative;
    display: block;
    height: auto;
    width: 40%;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
    border-color: #3e851b;
    background-color: #47a617;
    border-radius: 25px;

}
.storyImage {
    background-color: darkslateblue;
    height: 5rem;
    width: auto;
    position: relative;
    bottom: 6rem;
    left: 30rem;
}

#box1 {
    background-color: cornflowerblue; 
   
}

#box2 {
    background-color: aliceblue;
  
}
#box3 {
    background-color: pink;

}

#box4 {
    background-color: darkcyan;
}

h1 {
    color: indigo; 
}

.faveTV {
    color: pink;
}

.secondTV {
    color: paleturquoise;
}

.list
{
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

